### 처음보는 파이썬 문법 정리하는 곳

- .map(type, list)
- .map(function) # function에 따라 앞 변수 map

In [19]:
tmp = [1.2, 2.5, 3.1, 4.8]
tmp1 = list(map(int, tmp))
print(tmp1)

# 위 map함수는 아래와 동일하다
for i in range(len(tmp)):
    tmp1[i] = int(tmp[i])
print(tmp1)

[1, 2, 3, 4]
[1, 2, 3, 4]

- .strip(chars) ## default는 공백제거
- .lstrip(chars)
- .rstrip(chars)

In [26]:
str = '   Hi My name is Jungwoo'

print(str.strip('no'))  # 왼쪽 오른쪽 양쪽에서 str에서 모든 'n','o'제거, 만약 차례로 지워가다 'n', 'o'이 아닌 char 만나면 종료
print(str.lstrip())     # 왼쪽만 공백 제거
print(str.rstrip('wo')) # 오른쪽만 'w', 'o' 조합들 제거

   Hi My name is Jungw
Hi My name is Jungwoo
   Hi My name is Jung

- num_cols = [col for col in train[:24] if train[col].dtype in ['float','int64']] # 특정 문자열 있는 column 뽑아내기


- df = pd.concat([train, test], axis=0) # concatenate 사슬 같이 잇다

##### ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ  pandas  모음집 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ

In [21]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'ID' : [21011894, 21092832, 19023126],
                  'Name' : ['김정우', '최원태', '박세직'],
                  'Initial' : ['P', 'P', np.nan]})
df

         ID Name Initial
0  21011894  김정우       P
1  21092832  최원태       P
2  19023126  박세직     NaN

- df.groupby.sum()
- df.groupby.count()

In [22]:
print(df.groupby('Initial').sum())
print(df.groupby('Initial').count())

               ID
Initial
P        42104726
         ID  Name
Initial
P         2     2

- df.isna().sum() # 결측치의 개수 세기

In [25]:
df.isna().sum()

ID         0
Name       0
Initial    1
dtype: int64

- df = df[~bool]